.main {
    margin-top: 10px;
    width: 80%;
    height: 200px;
    background-color: aqua;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all .2s;
    display: flex;
}

.image {
    overflow: hidden;
    flex: 0 0 30%;
    height: auto;
}

.image img {
    width: 100%;
}

.details {
    position: relative;
    flex: 0 0 70%;
    padding: 0 10px;
}

.details h4 {  
    display: -webkit-box;        
    -webkit-line-clamp: 2;       
    -webkit-box-orient: vertical;
    overflow: hidden;            
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.details p {
    margin: 10px 0;
    display: -webkit-box;        
    -webkit-line-clamp: 3;       
    -webkit-box-orient: vertical;
    overflow: hidden;            
    text-overflow: ellipsis;
}

.details span {
    position: absolute;
    bottom: 0px;
    right: 40px;
    cursor: pointer;
    border-bottom: 1px solid #00FFFF;
}

.details span:hover {
    border-bottom: 1px solid black;
}